.l-container {
	width: $site-width;
	margin: 0 auto;
}

// .l-sidebar {
// 	position: relative;
// 	width: 225px;
// 	float: left;
// 	margin-right: 50px;
// 	padding-bottom: 6em;
// }

.l-main-section {
	width: 100%;
}

.l-main-header {
	width: 100%;
	position: relative;
	padding: 2em 0 1em;
	border-bottom: 1px solid $border-color;
}

.l-main-logo {
	display: block;
	margin: 0 auto 30px;
}

.l-cart-link {
	margin: 0;
}

.l-main-nav {
	padding: 0;
	text-align: center;

}

.l-lapada-logo {
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	text-align: center;
}

.l-shop-nav {
	margin-top: 2em;
}

.main-content {
	padding-top: 2em;
	position: relative;
	padding-left: 137px;
	padding-right: 137px;
}

.index .main-content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.collection .main-content {
	padding-top: 0;
}


.hor-nav {
	padding: 0;
	margin: 0;
	
	li {
		float: left;
	}
}

.l-search-cart-con {
	position: absolute;
	top: 30px;
	right: 0;
	width: 145px;
}