<nav class="l-shop-nav">
    <ul class="shop-nav">
        {% for link in linklists.shop.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</nav>