.cart-link {
	font-family: $alt-font-family;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;

	a {
		font-family: $alt-font-family;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}