.main-footer {
	padding: 3em 0 6em;
}

.footy {
	float: left;
	width: 980px;
}

.section-div {
	margin: 29px 0 12px;
	border-color: $border-color;
}

.mini-logo {
	float: right;
}

.footer-nav {

	li {
		font-size: 10px;
		line-height: 1;
		margin-right: 3em;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

