.main-nav {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: $alt-font-family;
	text-transform: uppercase;
	font-size: 14px;

	li {
		margin: 0 25px;
		position: relative;
	}

	a {
		padding: 10px;
		text-decoration: none;
		color: #a5a098;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		
		&:hover,
		&.active {
			color: #000;
		}
	}
}

.main-nav-shop-nav {
	position: relative;
	margin: 0;
	padding: 0 0 0 1em;
}

.subnav {
	position: absolute;
	left: 10px;
	top: 2em;
	z-index: 90;
	width: 220px;
	padding: 5px 14px 5px 14px;
	margin: 0;
	background: $border-color;
	background-color: rgba(224, 224, 207, .9);
	display: none;


	li {
		float: none;
		margin: 15px 0;
		text-align: left;
	}

	a {
		padding: 10px 10px 10px 0;
		color: #000;
		-webkit-transition: padding-left 200ms;
		transition: padding-left 200ms;

		&:hover {
			padding-left: 5px;
		}
	}
}

.has-subnav:hover {
	.subnav {
		display: block;
	}
}

.opacity {
	.has-subnav {
		overflow: hidden;
	}

	.subnav {
		opacity: 0;
		display: block;
		-webkit-transition: opacity 200ms;
		-moz-transition: opacity 200ms;
		-ms-transition: opacity 200ms;
		transition: opacity 200ms;
	}

	.has-subnav:hover {
		overflow: visible;

		.subnav {
			opacity: 1;	
		}
	}
}