.search-box {

	border-bottom: 1px solid $border-color;

	label {
		display: block;
		font-family: $alt-font-family;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #a5a098;
	}

	::-webkit-input-placeholder {
	   text-transform: uppercase;
	}

	:-moz-placeholder { /* Firefox 18- */
	   text-transform: uppercase;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   text-transform: uppercase;
	}

	:-ms-input-placeholder {  
	   text-transform: uppercase;
	}
}

.search-box-input {
	width: 150px;
	font-family: $alt-font-family;
	font-size: 12px;
	letter-spacing: 1px;
	color: #a5a098;
	border: none;
}

.search-box-submit {
	font-family: $main-font-family;
	font-size: 12px;
	color: #000;
}

.search-msg {
	font-size: 12px;
	line-height: 20 / 12 * 1;
}

